@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-hover {
    @apply hover:bg-slate-200 hover:dark:bg-slate-500 bg-opacity-65 dark:bg-opacity-65 rounded-md;
  }
  .button-icon {
    @apply p-1;
  }
  .border-highlight{

  }
}

@layer base {
  body {
    @apply dark:bg-black dark:text-white bg-off-white;
    transition-property: background-color, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  h1 {
    @apply text-6xl md:text-8xl;
  }
  h2 {
    @apply text-3xl md:text-5xl mb-8 md:mb-16 text-slate-500 dark:text-off-white;
  }
  h3 {
    @apply text-2xl md:text-3xl mb-2 md:mb-4;
  }
  h4 {
    @apply text-xl md:text-2xl;
  }
  h5 {
    @apply text-lg md:text-xl;
  }
  section {
    /* @apply my-8 */
    @apply min-h-[24em] my-8;
  }
  footer {
    @apply mt-8 pt-8 px-8 pb-36 min-h-28 dark:bg-slate-500 dark:bg-opacity-65 bg-slate-200 bg-opacity-65;
  }
}
:root {
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */
